.Burger {
   position: relative;
   height: 6.4rem;
   width: 6.4rem;
   overflow: hidden;
   transform: scale(1.1);
}

// Burger styles
.ham {
   width: 100%;
   height: 100%;
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
   transition: transform 400ms;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.line {
   fill: none;
   transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
   stroke: var(--co-green);
   stroke-width: 4;
   stroke-linecap: round;
}

.menuOpened .hamRotate180 {
   transform: rotate(180deg);
}

.ham5 .top {
   stroke-dasharray: 40 82;
}
.ham5 .bottom {
   stroke-dasharray: 40 82;
}
.menuOpened .ham5 .top {
   stroke-dasharray: 14 82;
   stroke-dashoffset: -72px;
}
.menuOpened .ham5 .bottom {
   stroke-dasharray: 14 82;
   stroke-dashoffset: -72px;
}
