.StartLayout {
   height: 100vh;
   max-width: var(--bp-xlg);
   margin: 0 auto;
   overflow: hidden;
   display: grid;
   grid-template-rows: auto 1fr auto;
   color: var(--co-green);
   border: var(--bd-main);

   &__header {
      grid-row: 1/2;
      border-bottom: var(--bd-main);
   }
   &__main {
      position: relative;
      grid-row: 2/3;
   }
   &__mainWrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
   }
   &__footer {
      grid-row: 3/4;
      border-top: var(--bd-main);
   }
}
