.Header {
   display: flex;
   align-items: center;
   padding: var(--in-main);
   font-size: 4rem;

   &__logo {
      max-height: 1.6em;
   }

   &__title {
      font-family: var(--fn-play);

      &::first-letter {
         font-size: 0;
      }
   }

   &__text {
      padding: 5px;
      text-align: center;
      font-family: var(--fn-mono);
      text-transform: uppercase;
      border-top: var(--bd-main);

      &.PageScreen {
         display: none;
      }
   }

   &__tagline {
      margin-left: auto;
      align-self: flex-start;
      text-transform: uppercase;
      font-family: var(--fn-mono);
      font-size: 2rem;

      @media screen and (max-width: 768px) {
         display: none;
      }
   }
}

.Header.PageScreen {
   .Header {
      &__tagline {
         @media screen and (min-width: 1366px) {
            align-self: center;
            font-size: 1.8rem;
            margin-left: 3rem !important;
            text-align: center;
         }
      }
   }
}
